APP_VERSION=0.9.31
APP_ENV=development

HTTP_PORT=8900
HTTP_BIND=0.0.0.0
HTTPS_PORT=443
HTTPS_BIND=0.0.0.0
BACKEND_PORT=8901
BACKEND_BIND=0.0.0.0
POSTGRES_PORT=5432
POSTGRES_BIND=127.0.0.1

POSTGRES_DB=mica
POSTGRES_USER=mica
POSTGRES_PASSWORD=mica

SECRET_KEY=dev_secret_key_minimum_32_chars_required_for_skeleton_phase_only

CORS_ALLOW_ALL=true
